<section
  *ngIf="underten && underten._id"
  id="undertenDetails">
      <!-- TODO: Display name-->
    
        <h1 [appHighlight]="'transparent'" class="underten-name">{{underten.name}}</h1><br>
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <!-- TODO: Display underten image -->
        <img [src]="underten.image" alt="">
      </div>
      
    </div>
  </div>
    <div class="row">
      <div class="col-md-8">
        <div class="underten">
          
             <div class="details-section">
            
             <h2> RAM : {{underten.ram}}<br> </h2>
              <h2>Camera : {{underten.camera}}<br></h2>
              <h2>Battery : {{underten.battery}}<br></h2>
             <h2>Display : {{underten.display}}<br></h2>
              <h2>Operating System : {{underten.os}}<br></h2>
              <h2>Memory : {{underten.memory}}<br></h2>
              <h2>Price : {{underten.price}}<br></h2>
           
          </div>
        </div>
    </div>
</div>
</section>
