<section
  *ngIf="samsung && samsung._id"
  id="samsungDetails">
      <!-- TODO: Display name-->
    
        <h1 [appHighlight]="'transparent'" class="samsung-name">{{samsung.name}}</h1><br>
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <!-- TODO: Display samsung image -->
        <img [src]="samsung.image" alt="">
      </div>
      
    </div>
  </div>
    <div class="row">
      <div class="col-md-8">
        <div class="samsung">
          
             <div class="details-section">
            
             <h2> RAM : {{samsung.ram}}<br> </h2>
              <h2>Camera : {{samsung.camera}}<br></h2>
              <h2>Battery : {{samsung.battery}}<br></h2>
             <h2>Display : {{samsung.display}}<br></h2>
              <h2>Operating System : {{samsung.os}}<br></h2>
              <h2>Memory : {{samsung.memory}}<br></h2>
              <h2>Price : {{samsung.price}}<br></h2>
           
          </div>
        </div>
    </div>
</div>
</section>
