#underthreeDetails {
  .upper-section {
    img {
      width: 40%;
    }

    margin-bottom: 20px;
  }
  .details-section
  {
    position: absolute;
    color:darkblue;
    left: 500px;
    top:250px;
    font-size: 30px;
  }
}
