<section
  *ngIf="redmi && redmi._id"
  id="redmiDetails">
      <!-- TODO: Display name-->
    
        <h1 [appHighlight]="'transparent'" class="redmi-name">{{redmi.name}}</h1><br>
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <!-- TODO: Display redmi image -->
        <img [src]="redmi.image" alt="">
      </div>
      
    </div>
  </div>
    <div class="row">
      <div class="col-md-8">
        <div class="redmi">
          
             <div class="details-section">
            
             <h2> RAM : {{redmi.ram}}<br> </h2>
              <h2>Camera : {{redmi.camera}}<br></h2>
              <h2>Battery : {{redmi.battery}}<br></h2>
             <h2>Display : {{redmi.display}}<br></h2>
              <h2>Operating System : {{redmi.os}}<br></h2>
              <h2>Memory : {{redmi.memory}}<br></h2>
              <h2>Price : {{redmi.price}}<br></h2>
           
          </div>
        </div>
    </div>
</div>
</section>
