<section
  *ngIf="undertwo && undertwo._id"
  id="undertwoDetails">
      <!-- TODO: Display name-->
    
        <h1 [appHighlight]="'transparent'" class="undertwo-name">{{undertwo.name}}</h1><br>
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <!-- TODO: Display undertwo image -->
        <img [src]="undertwo.image" alt="">
      </div>
      
    </div>
  </div>
    <div class="row">
      <div class="col-md-8">
        <div class="undertwo">
          
             <div class="details-section">
            
              <h2> RAM : {{undertwo.ram}}<br> </h2>
              <h2>Camera : {{undertwo.camera}}<br></h2>
              <h2>Battery : {{undertwo.battery}}<br></h2>
             <h2>Display : {{undertwo.display}}<br></h2>
              <h2>Operating System : {{undertwo.os}}<br></h2>
              <h2>Memory : {{undertwo.memory}}<br></h2>
              <h2>Price : {{undertwo.price}}<br></h2>
            </div>
          </div>
      </div>
  </div>
  </section>
  
