<section
  *ngIf="moto && moto._id"
  id="motoDetails">
      <!-- TODO: Display name-->
    
        <h1 [appHighlight]="'transparent'" class="moto-name">{{moto.name}}</h1><br>
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <!-- TODO: Display moto image -->
        <img [src]="moto.image" alt="">
      </div>
      
    </div>
  </div>
    <div class="row">
      <div class="col-md-8">
        <div class="moto">
          
             <div class="details-section">
            
             <h2> RAM : {{moto.ram}}<br> </h2>
              <h2>Camera : {{moto.camera}}<br></h2>
              <h2>Battery : {{moto.battery}}<br></h2>
             <h2>Display : {{moto.display}}<br></h2>
              <h2>Operating System : {{moto.os}}<br></h2>
              <h2>Memory : {{moto.memory}}<br></h2>
              <h2>Price : {{moto.price}}<br></h2>
           
          </div>
        </div>
    </div>
</div>
</section>
