<section
  *ngIf="bat && bat._id"
  id="batDetails">
      <!-- TODO: Display name-->
    
        <h1 [appHighlight]="'transparent'" class="bat-name">{{bat.name}}</h1><br>
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <!-- TODO: Display bat image -->
        <img [src]="bat.image" alt="">
      </div>
      
    </div>
  </div>
    <div class="row">
      <div class="col-md-8">
        <div class="bat">
          
             <div class="details-section">
            
             <h2> RAM : {{bat.ram}}<br> </h2>
              <h2>Camera : {{bat.camera}}<br></h2>
              <h2>Battery : {{bat.battery}}<br></h2>
             <h2>Display : {{bat.display}}<br></h2>
              <h2>Operating System : {{bat.os}}<br></h2>
              <h2>Memory : {{bat.memory}}<br></h2>
              <h2>Price : {{bat.price}}<br></h2>
           
          </div>
        </div>
    </div>
</div>
</section>
