html, body, p {
    color: darkgray;
  }
  
  .bwm-list-page {
    .title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .type {
    &-apartment {
      color: #a72da3 !important;
    }
  
    &-condo {
      color: #d68000 !important;
    }
  
    &-house {
      color: #bf1818 !important;
    }
  }